/*This is my first CSS style sheet */
@media (max-width: 500px) {
    h1 {
        font-size: 3em;
    }
    li {
        font-size: 1.5em;
    }
}


a:active {
    background: rgb(0, 247, 255);
    font-size: 1.5em;
}

#agenda {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-width: 5px;
    border-style: solid;
    display: grid;
    align-items: stretch;
    justify-items: center;
    gap: 25px 5px;

}

.concerns_comments {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items:center;
}

li:hover {
    background-color: gold;
}

#warhmmer {
    font-family: 'Satisfy', cursive;
}

h1 {
    color: crimson
}
h2 {
    color: #ffd700
   
}
h3 { 
    color: hsl(110, 100%, 22%)
}
#submit_button {
    display: inline;
    border-style: solid;
    border-width: 10px;
    border-color:rgb(247, 0, 0);
    border-radius: 10cm;
    text-align: center;
    text-decoration:underline;
}
.image {
    
    height: 100pt;
    width: 20vw;
    min-width: 1in;
    max-width: 70vmax;
    border-style: solid;
    border-width: 2px;
    border-color:rgb(247, 0, 0);
    position:relative;
    top: 20px;
    left: 500px;
    padding: 2px 5px 15px 15px;

}
audio {
    display: inline-block;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(247, 0, 0);
    margin-top: 15px;
    margin-bottom: 2em;
    margin-left: 9px;
    margin-right: 5px;
}

#lamenters {
    margin: 2px 5px 15px 100px;
}

* {
    font-style: italic;
}

a[href] {
    font-family: 'Satisfy', cursive;
    font-size: larger;
}
h1, h2, h3 {
    font-family: 'Satisfy', cursive;
}

* > label {
    color:rgb(180, 0, 180);
}

label ~ input {
    margin-top: 10px;
    margin-bottom: 10px;
}

#agenda li {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div + footer {
    font-weight: bold;
    border-width: 3px;
    border-style: dotted;
}